header nav {
    display: flex;
    justify-content: start;
    padding-left: 2em;
    background-color: black;
    height: 6em;
    font-weight: lighter;
}

nav img {
    height: 5em;
    padding-right: 3em;
    padding-top: .5em;
}

input {
    position: absolute;
    margin-left: -5em;
}

.contactUs {
    color: white;
    text-decoration: none;
}

.Linked--color,
.contactUs {
    padding-right: 3em;
    padding-top: 1.2em;
}

.user-icon,
.cart-icon {
    height: 2em;
    width: 1.6em;
    position: absolute;
    top: 2em;
    color: white;
}

.user-icon {
    right: 6.5em;
}

.cart-icon {
    right: 3em;
}

.search-icon {
    height: 2em;
    width: 1.4em;
    position: absolute;
    top: 2em;
    right: 11.7em;
    color: black;
}

.navigation-right {
    display: flex;
}