.cartContents{
    display: none;
    position: relative;
    text-align: left;
    width: 22rem;
    padding: 0.50rem;
}
.cartContents--visible{
    display: block;
position: absolute;
z-index: 1;
right: 5%;
background-color: white;
}
.Cart{
    text-align: right;
    margin-right: 5em;
}
.cartItem{
    margin-top: 5rem;
}
.cartItem__info{
    display: flex;
    font-size: 0.75rem;
    justify-content: space-evenly;
}
button{
   background-color: white;
    outline: none;
    border: none;
}
.Removebtn--cart{
    position:absolute;
 margin-bottom: 10em;
  
}
.Cartprice{
    margin-top: 1.25rem;
    margin-left: 5rem;
}
.Cartimg{
   width: 8rem;
}
.Lintobtns{
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: white;
    background-color: #FF6900;
    border-radius: 3px;
    border: 0px;

}
.Btn-space{
    display: flex;
    justify-content: space-evenly;
}

