.joinChat__wrapper {
  width: 417px;
  height: 484px;
    background: #263238;
    color: #212121;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
  }
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
  
  .joinChatContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .joinChatContainer h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #FF6900;
    margin: 0;
    margin-bottom: 1rem;
  }
  .joinChatContainer input {
    width: 210px;
    height: 40px;
    margin: 7px;
    border: 2px solid #FF6900;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 1rem;
  }
  
  .joinChatContainer button {
    width: 225px;
    height: 50px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #FF6900;
    color: #fff;
    cursor: pointer;
  }
  
  .joinChatContainer button:hover {
    background: #495464;
  }
  
  .chat-window {
    /* width: 19rem;
    height: 26rem; */

    width: 417px;
    height: 484px;
  }
  
  .chat-window p {
    margin: 0;
  }
  .chat-window .chat-header {
    height: 64px;
    background: #495464;
    position: relative;
    display: flex;
  }
  .chat-window .chat-header p {
    margin: 0;
  }
  .chattingWith {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
  }
  .support__name {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F4F4F2;
  }
  .support__wrapper{
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .support__status{
    border-radius: 50%;
    height: 9px;
    width: 9px;
  }
  .offline{
    background-color: red;
  }
  .online{
    background-color: green;
  }
  
  .chat-window .chat-body {
    height: calc(450px - (45px + 70px));
    background: #F4F4F2;
    position: relative;
  }
  .chat-window .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
  }
  .chat-window .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
  }
  
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color: #43a047;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
  #you {
    justify-content: flex-start;
  }
  
  #you .message-content {
    justify-content: flex-start;
  }
  
  #you .message-meta {
    justify-content: flex-start;
    margin-left: 5px;
  }
  
  #other {
    justify-content: flex-end;
  }
  
  #other .message-content {
    justify-content: flex-end;
    background-color: cornflowerblue;
  }
  
  #other .message-meta {
    justify-content: flex-end;
    margin-right: 5px;
  }
  
  .message-meta #author {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .chat-window .chat-body .message .message-meta {
    display: flex;
    font-size: 12px;
  }
  
  .chat-window .chat-footer {
    height: 128px;
    border-top: none;
    display: flex;
    flex-direction: column;
  }
  
  .chat-window .chat-footer input {
    height: 64px;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    outline: none;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
  }
  .chat-window .chat-footer input::-webkit-input-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  

  .chat-window .chat-footer .send{
    width: 100%;
    height: 124px;
    background-color: #FF6900;
    color: #000000;
    cursor: pointer;
  }
  

  .hide {
    opacity: 0;
  }
  .profilePic{
    border-radius: 50%;
    background-color: black;
    height: 43px;
    width: 43px;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .supportInfo__wrapper{
    align-self: center;
  }
  .emoji__wrapper{
    display: flex;
  }
  .emoji{
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }